.todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #060606;
    border-radius: 5px;
    background-color: #f8f1f1f9;
}

h1{
    text-align: center;
    color: #060606;

}